:root {
    --primary-color: #e50914;
    --dark-color: #141414;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #000;
    color: #999;
}

ul {
    list-style: none;
}

h1 {
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

p {
    margin: 0.5rem 0;
}

.showcase {
    width: 100%;
    height: 77%;
    position: relative;
    background: url('/images/3.jpg') no-repeat center fixed/cover;
}
.showcase-top {
    z-index: 2;
}

.buttons {
    z-index: 2;
}
/* .showcase-top {
    position: relative;
    z-index: 2;
    height: 90px;
} */

/* .showcase-top a {
    float: right;
} */
/* .showcase-top a {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
} */

.showcase-top h1 {
    font-weight: 700;
    font-size: 4.5rem;
    position: absolute;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    height: 100px;
    z-index: 2;
}

.showcase::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}

.footer {
    max-width: 80%;
    margin: 1rem auto;
    overflow: auto;
}

.footer, .footer a {
    color: #999;
    font-size: 0.9rem;
}

.footer p {
    margin-bottom: 1.5rem;
}

.footer .footer-cols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

.footer li {
    line-height: 1.9;
}

/* .footer .lang-select {
    margin-top: 2rem;
    color: #999;
    background-color: #000;
    background-image: none;
    border: 1px solid #333;
    padding: 1rem 1.2rem;
    border-radius: 5px;
} */

/* Hide content */

#tab-1-content, #tab-2-content, #tab-3-content, #tab-4-content {
    display: none;
    padding-top: 2%;
}

#tab-5-content, #tab-6-content, #tab-7-content, #tab-8-content {
    display: none;
    padding-top: 2%;
    height: 50%;
}

.show {
    display: block !important;
}

/* Tabs */

.tabs {
    background: var(--dark-color);
    padding-top: 1rem;
    border-bottom: 3px solid #3d3d3d;
    border-right: none;
}

.tabs .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.tabs p {
    font-size: 1.2rem;
    padding-top: 0.5rem;
}

.tabs .container>div {
    padding: 1.5rem 0;
}

.tabs .container>div:hover {
    color: #fff;
    cursor: pointer;
}

.tab-border {
    border-bottom: var(--primary-color) 4px solid;
}

.tab-content {
    color: white;
    font-weight: bold;
}

/* .tab-content .container {
    margin: auto;
} */

#tab-5-content .dropdown {
    /* margin: auto; */
    /* align-items: center; */
    /* justify-content: center; */
    text-align: center;
    /* display: grid; */
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

/* Buttons */

.myButton {
    -moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
    -webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
    box-shadow: 0px 0px 0px 2px #9fb4f2;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
    background: -moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background: -webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background: -o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background: -ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e', GradientType=0);
    background-color: #7892c2;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #4e6096;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 19px;
    padding: 12px 37px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #283966;
    transition: transform 0.8s;
}

.myButton:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
    background: -moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background: -webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background: -o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background: -ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2', GradientType=0);
    background-color: #476e9e;
    transform: scale(0.96);
}

.myButton:active {
    position: relative;
    top: 1px;
}

.btn {
    display: inline-block;
    background: var(--primary-color);
    color: #fff;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    transition: opacity 0.2s ease-in;
    outline: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
    border-radius: 2px;
    transition: transform 0.8s;
}

.btn:hover {
    opacity: 0.8;
    transform: scale(0.96);
}

.btn-rounded {
    border-radius: 5px;
}

#submit {
    margin-right: 0.5rem;
}

/* #signup {
    top: 50%;
    right: 95px;
} */

/* Container */

.container {
    max-width: 75%;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}

@media (max-width: 960px) {
    .hide-sm {
        display: none;
    }
    .showcase {
        height: 70vh;
    }
    .showcase-top h1 {
        font-size: 3rem;
        line-height: 1;
        /* padding-top: 30%; */
    }
    .footer .footer-cols {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 700px) {
    .showcase::after {
        background: rgba(0, 0, 0, 0.4);
        box-shadow: inset 30px 30px 150px #000000, inset -30px -30px 150px #000000;
    }
}





* {box-sizing: border-box}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  button:hover {
    opacity:1;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
  }
  
  /* Float cancel and signup buttons and add an equal width */
  .cancelbtn, .signupbtn {
    float: left;
    width: 50%;
  }
  
  /* Add padding to container elements */
  /* .container {
    padding: 16px;
  } */
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
      width: 100%;
    }
  }

  


